<footer class="container1 w-64 flex flex-col gap-2.5 max-lg:w-full max-lg:flex-row flex-wrap max-lg:justify-evenly">
  <p class="feed-subscribe textColor">
    <a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}">
      <svg class="inline w-5 h-5 fill-current">
        <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
      </svg> Subscribe
    </a>
  </p>
  <div>
    <h2 class="header2">Contact</h2>
    <ul class="contact-list mb-1">
      <li><a class="u-matrix link" href="https://matrix.to/#/{{ site.author.matrix }}">{{ site.author.matrix }}</a></li>
      <li><a class="u-email link" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
    </ul>
    <div class="social-links">
      {%- include social.html -%}
    </div>
  </div>
  <div class="max-lg:w-full">
    <div class="max-lg:max-w-32 max-lg:mx-auto">
      {%include themed-image.html src1="/assets/images/light/1038621yv64mh2h7b.gif"
      src2="/assets/images/decorations/christmas/christmas-balls-clip-art-7-2634342209.png"%}
    </div>
  </div>
  <div class="grow"></div>
  <div class="max-lg:w-full flex justify-center">
    <div class="hidden dark:inline-block -mb-72">
      <img class="z-10 relative" src="/assets/images/decorations/456759.gif">
      <img class="w-32 -mt-16 ml-1" src="/assets/images/decorations/picmix.com_1976678.gif">
    </div>
</div>
</footer>