<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="flex-row justify-center">
    <div class="wrapper2 grow flex flex-col xl:flex-row max-w-screen-xl">
      {%- include header.html -%}
      <div class="flex flex-col grow">
        {{ content }}

        {% include footer.html %}
      </div>
    </div>
  </body>
  <style>
    body{
      background: url(/assets/images/wp_marble_100_tn.png);
    }
    .wrapper2{
      background: url(/assets/images/wp_marble_013_tn.png) white;
    }
    .site-header{
      //background: url(/assets/images/gmcbg.png);
    }
  </style>

</html>
