<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body class="flex flex-col">
  <div class="absolute -z-10 w-1/6 right-0 top-0">
    {%include themed-image.html src1="/assets/images/decorations/flower-clipart-wisteria-6.png" src2="/assets/images/decorations/christmas/03eb2460745a2a7adf50c3a45985c3be-818976456-right.png"%}
  </div>
  <div class="absolute -z-10 w-1/6 left-0 top-0">
    {%include themed-image.html src1="" src2="/assets/images/decorations/christmas/03eb2460745a2a7adf50c3a45985c3be-818976456-left.png"%}
  </div>
  <div class="grow">
    <div class="flex max-lg:flex-col flex-row gap-2.5 justify-center">
      <div class="container1">{%- include header.html -%}</div>
      {{ content }}
      {% include footer.html %}
    </div>
  </div>
</body>
<style>
  body{
  }
  @media (prefers-color-scheme: dark) {
    body {
      background: url(/assets/images/decorations/stars.gif);
    }
  }
</style>
</html>
